# Geospatial Features
In this notebook we will learn about geographic data and how to work with them

In [1]:
# import libraries
import numpy as np 
import pandas as pd

### 1) Work with Lat and Long

we will use this library: https://pypi.org/project/geopy/

**1) Measuring Distance**

In [2]:
# import great_circle from geopy.distance


# create 2 vars for home and cafe with lats and longs of (30.109919, 31.308797) & (30.120982, 31.322026)


# calcaulate the distance

1.7698508016026915

***So Lets use it with Our data***

In [3]:
# read sendy_logistics dataset
df = pd.read_csv('../dastasets/sendy_logistics.csv')
df.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,...,10:39:55 AM,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,...,12:17:22 PM,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,12:39:25 PM,30,2,...,1:00:38 PM,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,9:25:34 AM,15,5,...,10:05:27 AM,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,...,10:25:37 AM,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214

In [4]:
# create a fn to extract the distance from lat & long in each row

# apply the fn to df and create new column for distance

,0,1,2,3,4
Order No,Order_No_4211,Order_No_25375,Order_No_1899,Order_No_9336,Order_No_27883
User Id,User_Id_633,User_Id_2285,User_Id_265,User_Id_1402,User_Id_1737
Vehicle Type,Bike,Bike,Bike,Bike,Bike
Platform Type,3,3,3,3,1
Personal or Business,Business,Personal,Business,Business,Personal
Placement - Day of Month,9,12,30,15,13
Placement - Weekday (Mo = 1),5,5,2,5,1
Placement - Time,9:35:46 AM,11:16:16 AM,12:39:25 PM,9:25:34 AM,9:55:18 AM
Confirmation - Day of Month,9,12,30,15,13
Confirmation - Weekday (Mo = 1),5,5,2,5,1
Confirmation - Time,9:40:10 AM,11:23:21 AM,12:42:44 PM,9:26:05 AM,9:56:18 AM
Arrival at Pickup - Day of Month,9,12,30,15,13
Arrival at Pickup - Weekday (Mo = 1),5,5,2,5,1
Arrival at Pickup - Time,10:04:47 AM,11:40:22 AM,12:49:34 PM,9:37:56 AM,10:03:53 AM
Pickup - Day of Month,9,12,30,15,13
Pickup - Weekday (Mo = 1),5,5,2,5,1
Pickup - Time,10:27:30 AM,11:44:09 AM,12:53:03 PM,9:43:06 AM,10:05:23 AM
Arrival at Destination - Day of Month,9,12,30,15,13
Arrival at Destination - Weekday (Mo = 1),5,5,2,5,1
Arrival at Destination - Time,10:39:55 AM,12:17:22 PM,1:00:38 PM,10:05:27 AM,10:25:37 AM
Distance (KM),4,16,3,9,9
Temperature,20.4,26.4,NaN,19.2,15.4
Precipitation in millimeters,NaN,NaN,NaN,NaN,NaN
Pickup Lat,-1.317755,-1.351453,-1.308284,-1.281301,-1.266597
Pickup Long,36.83037,36.899315,36.843419,36.832396,36.792118
Destination Lat,-1.300406,-1.295004,-1.300921,-1.257147,-1.295041
Destination Long,36.829741,36.814358,36.828195,36.795063,36.809817
Rider Id,Rider_Id_432,Rider_Id_856,Rider_Id_155,Rider_Id_855,Rider_Id_770
Time from Pickup to Arrival,745,1993,455,1341,1214
distance,1.930336,11.339865,1.880081,4.943465,3.724834

### 2) Geocoding features to get the address from lat, long or reverse.

we will use this library: https://pypi.org/project/geopy/

In [5]:
# import Nominatim from geopy.geocoders


# create an object from Nominatim with user_agent = Epsilon

In [6]:
# give a location to the object using .geocode method


# show the location information data using .raw method

{'place_id': 43010744,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 26753320,
 'lat': '30.026992800000002',
 'lon': '31.40906325945414',
 'class': 'place',
 'type': 'neighbourhood',
 'place_rank': 20,
 'importance': 0.25000999999999995,
 'addresstype': 'neighbourhood',
 'name': 'كايرو فستيفال سيتى',
 'display_name': 'كايرو فستيفال سيتى, القاهرة, مصر',
 'boundingbox': ['30.0164179', '30.0374523', '31.4019316', '31.4220303']}

In [7]:
# show lat & long

('30.026992800000002', '31.40906325945414')

In [8]:
# show the location information using .reverse with lat & long

{'place_id': 372290306,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 253593226,
 'lat': '30.0281356',
 'lon': '31.407670569933664',
 'class': 'shop',
 'type': 'mall',
 'place_rank': 30,
 'importance': 9.99999999995449e-06,
 'addresstype': 'shop',
 'name': 'كايرو فستيفال سيتى مول',
 'display_name': 'كايرو فستيفال سيتى مول, محور العروبة الجانبى, كايرو فستيفال سيتى, القاهرة, 11528, مصر',
 'address': {'shop': 'كايرو فستيفال سيتى مول',
  'road': 'محور العروبة الجانبى',
  'village': 'كايرو فستيفال سيتى',
  'city': 'القاهرة',
  'state': 'القاهرة',
  'ISO3166-2-lvl4': 'EG-C',
  'postcode': '11528',
  'country': 'مصر',
  'country_code': 'eg'},
 'boundingbox': ['30.0257898', '30.0304728', '31.4065217', '31.4097109']}

In [9]:
# show country name from location information

'مصر'

In [10]:
# show city name from location information

'القاهرة'

***So Lets use it with Our data***

In [11]:
# take a sample of size 200 from sendy_logistics dataset
df = pd.read_csv('../dastasets/sendy_logistics.csv').sample(200)
df.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
14712,Order_No_26350,User_Id_3560,Bike,3,Business,22,3,2:05:34 PM,22,3,...,4:13:39 PM,5,24.2,NaN,-1.257147,36.795063,-1.279395,36.825364,Rider_Id_139,1298
19958,Order_No_9863,User_Id_402,Bike,3,Business,21,2,6:21:37 PM,21,2,...,7:12:32 PM,6,24.1,NaN,-1.252796,36.800313,-1.290894,36.822971,Rider_Id_139,1949
17148,Order_No_7782,User_Id_2653,Bike,1,Personal,26,3,12:04:31 PM,26,3,...,12:51:59 PM,5,24.1,NaN,-1.286772,36.773524,-1.298575,36.808800,Rider_Id_565,1410
1770,Order_No_22189,User_Id_2330,Bike,3,Business,20,4,11:39:04 AM,20,4,...,12:33:17 PM,11,22.4,NaN,-1.221261,36.844003,-1.219952,36.803213,Rider_Id_870,864
6295,Order_No_18756,User_Id_3669,Bike,3,Business,30,2,11:15:55 AM,30,2,...,12:23:11 PM,15,NaN,NaN,-1.261589,36.792873,-1.215601,36.891686,Rider_Id_8,1389

In [13]:
# def filter_lat(x):
#     if -90 <= x <= 90:
#         return x
#     else: 
#         return np.nan

# def filter_long(x):
#     if -180 <= x <= 180:
#         return x
#     else: 
#         return np.nan    

# df['Pickup Lat'] = df['Pickup Lat'].apply(filter_lat)
# df['Pickup Long'] = df['Pickup Long'].apply(filter_long)

In [14]:
# create a fn to extract the city name from the data
    

# create a new column called city

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival,city
14712,Order_No_26350,User_Id_3560,Bike,3,Business,22,3,2:05:34 PM,22,3,...,5,24.2,NaN,-1.257147,36.795063,-1.279395,36.825364,Rider_Id_139,1298,Nairobi
19958,Order_No_9863,User_Id_402,Bike,3,Business,21,2,6:21:37 PM,21,2,...,6,24.1,NaN,-1.252796,36.800313,-1.290894,36.822971,Rider_Id_139,1949,Nairobi
17148,Order_No_7782,User_Id_2653,Bike,1,Personal,26,3,12:04:31 PM,26,3,...,5,24.1,NaN,-1.286772,36.773524,-1.298575,36.808800,Rider_Id_565,1410,Nairobi
1770,Order_No_22189,User_Id_2330,Bike,3,Business,20,4,11:39:04 AM,20,4,...,11,22.4,NaN,-1.221261,36.844003,-1.219952,36.803213,Rider_Id_870,864,Nairobi
6295,Order_No_18756,User_Id_3669,Bike,3,Business,30,2,11:15:55 AM,30,2,...,15,NaN,NaN,-1.261589,36.792873,-1.215601,36.891686,Rider_Id_8,1389,Nairobi

In [16]:
# show value counts

city
Nairobi                    195
Syokimau-Mulolongo ward      2
Kahawa ward                  1
Nkaimurunya ward             1
Matathani ward               1
Name: count, dtype: int64

# Great Work!